<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>My</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>myServer</display-name>
    <servlet-name>myServer</servlet-name>
    <servlet-class>myServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myServer</servlet-name>
    <url-pattern>/myServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/EmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpServlets</display-name>
    <servlet-name>EmpServlets</servlet-name>
    <servlet-class>EmpServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlets</servlet-name>
    <url-pattern>/EmpServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emp</display-name>
    <servlet-name>Emp</servlet-name>
    <servlet-class>Emp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp</servlet-name>
    <url-pattern>/Emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletconfigDemo</display-name>
    <servlet-name>ServletconfigDemo</servlet-name>
    <servlet-class>ServletconfigDemo</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>password</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletconfigDemo</servlet-name>
    <url-pattern>/ServletconfigDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
</web-app>